body {
    background-color: navy;
    font-family: Abel;
    color: lightblue;
  }

#formSpeelbordSelectie {
  position: absolute;
  top: 10px;
  left: 20px;
}

#knoppen {
  position: absolute;
  top: 10px;
  left: 165px;
}

.blok {
  background-color: rgba(139, 137, 0, 0.8);
  border-style: solid;
  border-width: 1px;
  position: fixed;
}

.blok:hover {
  opacity: 0.75;
}

#bomblok {
  font-size: 50px;
  color: rgb(0, 0, 0);
}

#bomblok:hover {
  opacity: 1;
}

#GeenBomblok {
  font-size: 50px;
  color: rgb(255, 255, 0);
}

.hulpscherm {
  background-color: rgb(33, 209, 200);  
  color: rgb(11, 6, 56);
  top: 10px;
  width: 300px;
  outline-style: outset;
}

#bouwHelperScherm {
  position: fixed;
  left: 910px;
}

#OpgeslagenBordenScherm {
  position: absolute;
  left: 600px;
}

#bouwHelperSubScherm {
  display: none;
}

#OpgeslagenBordenSubScherm {
  display: none;
}

h1 {
  font-size: large;
  margin: 0px;
  background-color: rgb(11, 6, 56);
  color: rgb(33, 209, 200);
}


button {
  width: 50px;
  height: 50px;
}

input {
  width: 50px;
  height: 50px;
}