body {
    background-color: navy;
    font-family: Abel;
    color: lightblue;
  }

div.blok {
  background-color: rgba(139, 137, 0, 0.8);
  border-style: solid;
  border-width: 1px;
  margin: 20px;
}

#bouwHelperScherm {
  background-color: rgb(33, 209, 200);  
  color: rgb(11, 6, 56);
  position: fixed;
  left: 600px;
  top: 10px;
  width: 300px;
  outline-style: outset;
  display: none;
}

#OpgeslagenBordenScherm {
  background-color: rgb(33, 209, 200);  
  color: rgb(11, 6, 56);
  position: absolute;
  left: 910px;
  top: 10px;
  width: 300px;
  outline-style: outset;
  display: none;
}

h1 {
  font-size: large;
  margin: 0px;
  background-color: rgb(11, 6, 56);
  color: rgb(33, 209, 200);
}

i.bomblok {
  font-size: large;
  margin: 0px;
  color: rgb(33, 209, 200);
}

button {
  width: 50px;
  height: 50px;
}

input {
  width: 50px;
  height: 50px;
}